<form class="form-inline">
    <div class="form-group">
        <input type="search" class="searchinput form-control" placeholder="Search Artist Name Here....." [formControl]="searchField">
    </div>
</form>

<loader *ngIf="loading"></loader>

<ul *ngIf="searchField.value != null && searchField.value.length > 0" class="list-group">
    <h1>Total Records : {{(viewresults | async)?.length || 0}}</h1>
    <li class="list-group-item" *ngFor="let track of viewresults | async">
        <img src="{{track.thumbnail}}">
        <a class="des" target="_blank" href="{{track.link}}">{{ track.track }}</a>
        <div class="des">Artist ID: {{track.artistId}}</div>
        <div class="des">Artist Name: {{track.artist}}</div>
        <div class="des">Track Name: {{track.track}}</div>
        <div class="source">Source: {{track.source}}</div>
    </li>
</ul>